.card {
  box-shadow: $card-box-shadow;
  background: $card-bg;
  display: $card-display !important;
  @apply dark:bg-dark overflow-hidden;
  @apply dark:bg-dark dark:border-[#{$dark-card-border-color}];

  .card-title {
    font-size: $card-title-font-size;
    @apply dark:text-[#{$dark-card-title-color}];
  }

  .card-text {
    color: $card-text-color;
    font-size: $card-text-font-size ;
    @apply dark:opacity-60 dark:text-[#{$dark-card-text-color}];
  }

  .card-header,
  .card-body,
  .card-footer {
    background: $card-parts-bg;
  }

  .card-header {
    border: $card-footer-border;

  }

  .card-footer {
    border: $card-footer-border;
  }

}