.dropdown {

  .dropdown-toggle {
    @apply cursor-pointer;

    &.toggle-clean {

      &::after,
      &::before {
        border: 0;
        margin: 0;
        padding: 0;
        width: 0;
        height: 0;
      }
    }
  }

  .dropdown-menu {
    @apply bg-base border border-base-color transition-all;



    .dropdown-item {
      @apply transition-all text-base-color dark:hover:bg-primary text-sm;


      &:has(.icon) {
        @apply flex items-center gap-2;

        .icon {
          @apply text-sm;
        }
      }
    }
  }
}